NODE_ENV=development
PORT=3000
HOST=0.0.0.0

DATABASE_URL="file:./dev.db"

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

STICKER_PACK_NAME="higorlino.dev bot"
STICKER_AUTHOR="higorlino.dev"

RATE_LIMIT_MAX=10
RATE_LIMIT_WINDOW_MS=60000

STORAGE_PATH=./storage
SESSIONS_PATH=./sessions
